<!DOCTYPE html>
<html>
	<head>
		<title>WEB700</title>
		<meta charset="UTF-8" />
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	</head>

	<body>
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<a class="navbar-brand" href="#">Student Name</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item"><a class="nav-link" href="/">Home</a></li>
					<li class="nav-item"><a class="nav-link" href="/about">About</a></li>
					<li class="nav-item active"><a class="nav-link" href="/htmlDemo">Html Demo</a></li>
				</ul>
				<ul class="navbar-nav ml-auto">
					<li class="nav-item"><a class="nav-link" href="/students">Students</a></li>
					<li class="nav-item"><a class="nav-link" href="/tas">Teaching Assistants</a></li>
					<li class="nav-item"><a class="nav-link" href="/courses">Courses</a></li>
				</ul>
			</div>
		</nav>

		<div class="container">
			<div class="row">
				<main class="col-md-12">



					<!-- Start your code here -->
					<h1>Tables</h1>
					<table>
						<caption>Table1. Expense table</caption>
	
						<thead>
						  <tr>
							<th>Date</th>
							<th>Item</th>
							<th>Quantity</th>
							<th>Price (CAD)</th>
						  </tr>
						</thead>
					  
						<tbody>
						  <tr>
							<th rowspan="3">2025/2/13</th>
							<td>Bread</td>
							<td>2</td>
							<td>$2.00</td>
						  </tr>
						  <tr>
							<td>Coca</td>
							<td>1</td>
							<td>$3.00</td>
						  </tr>
						  <tr>
							<td>Fries</td>
							<td>2</td>
							<td>$1.50</td>
						  </tr>
						</tbody>
					  
						<tfoot>
						  <tr>
							<th colspan="3">Total</th>
							<th>$10.00</th>
						  </tr>
						</tfoot>
					</table>
					<p>This table records spending within a day.</p>
					
					<table>
						<caption>Table2. Income table</caption>
	
						<thead>
						  <tr>
							<th>Date</th>
							<th>Job</th>
							<th>Hour</th>
							<th>Income</th>
						  </tr>
						</thead>
					  
						<tbody>
						  <tr>
							<th rowspan="3">2025/2/13</th>
							<td>Server</td>
							<td>4</td>
							<td>$80.00</td>
						  </tr>
						  <tr>
							<td>Online shop</td>
							<td>4</td>
							<td>$100.00</td>
						  </tr>
						  <tr>
							<td>Dish washer</td>
							<td>4</td>
							<td>$76.00</td>
						  </tr>
						</tbody>
					  
						<tfoot>
						  <tr>
							<th colspan="3">Total</th>
							<th>$256.00</th>
						  </tr>
						</tfoot>
					</table>
					<p>This table records income within a day.</p>

					<h1>Team Structure</h1>
					<ul>
						<li>Manager</li>
						<li>Employee
							<ol>
								<li>Employee 1</li>
								<li>Employee 2</li>
								<li>Employee 3</li>
							</ol>
						</li>
						<li>Assistant</li>
						<li>Supervisor</li>
						<li>Intern</li>
					</ul>
					<p>Above is the list of personels in a department.</p>
			
					<h1>Images</h1>
					<img src="https://upload.wikimedia.org/wikipedia/commons/6/69/Snowboarder_in_halfpipe.jpg" alt="Snowboarder">
					<img src="https://upload.wikimedia.org/wikipedia/commons/4/47/PNG_transparency_demonstration_1.png" alt="PNG Image">
					<img src="https://upload.wikimedia.org/wikipedia/commons/1/17/Google-flutter-logo.png" alt="Flutter Logo">
					<p>This section contain images of a swonboarder, a dice and flutter logo.</p>
			
					<h1>Audio</h1>
					<audio controls>
						<source src="https://pat-crawford-sdds.netlify.app/shared/fall-2021/web700/A3/sample-audio.mp3" type="audio/mpeg">
						<source src="https://pat-crawford-sdds.netlify.app/shared/fall-2021/web700/A3/sample-audio.ogg" type="audio/ogg">
						Your browser does not support the audio element.
					</audio>
					<p>This section demonstrates the use of HTML audio.</p>
			
					<h1>Video</h1>
					<video controls>
						<source src="https://pat-crawford-sdds.netlify.app/shared/fall-2021/web700/A3/sample-video.mp4" type="video/mp4">
						<source src="https://pat-crawford-sdds.netlify.app/shared/fall-2021/web700/A3/sample-video.ogg" type="video/ogg">
						<source src="https://pat-crawford-sdds.netlify.app/shared/fall-2021/web700/A3/sample-video.webm" type="video/webm">
						Your browser does not support the video tag.
					</video>
					<p>This section demonstrates the use of HTML video.</p>
					<!-- End your code here  -->



				</main>
			</div>
		</div>

		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	</body>
</html>
